<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/style.css">
        <title>{{ filename }}</title>
        <meta content="{{ filename }}" property="og:title" />
        <meta content="Uploaded by {{ uploader }}, {{ datetime }}" property="og:description" />
        <meta content="https://i.henry.moe/uploads/{{ id }}" property="og:url" />
        
        {% if 'image' in filetype %}
            <meta content="https://i.henry.moe/files/{{ filename }}" property="og:image" />
            <meta name="twitter:card" content="summary_large_image">
        {% endif %}
        
        <meta content="#03f0fc" data-react-helmet="true" name="theme-color" />
    </head>
    <body>
        {{ datetime }}
        <img src="../files/{{ filename }}" alt="{{ filename }}"/>
    </body>
</html>
